{% extends 'rebase.html' %}
{% block stylesheets %}{% endblock %}

<!-- ===============================================-->
<!--    Page Content-->
<!-- ===============================================-->
{% block page_content %}
<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0">Donör Bilgileri</h4>
        </div>

        <div class="card-body bg-body-tertiary">
          <form id="donorForm" class="needs-validation" novalidate>
            <div class="container mt-3">
              <h5 class="text-center">Kişisel Bilgiler</h5>
              <div class="row gx-2">
                <!-- Name Field -->
                <div class="col-sm-6 mb-3">
                  <label class="form-label" for="name">Ad</label>
                  <input
                    class="form-control"
                    id="name"
                    type="text"
                    name="name"
                    placeholder="Ad"
                    required
                  />
                  <div class="invalid-feedback">
                    Lütfen donörün adını giriniz.
                  </div>
                </div>

                <!-- Surname Field -->
                <div class="col-sm-6 mb-3">
                  <label class="form-label" for="surname">Soyad</label>
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    name="surname"
                    placeholder="Soyad"
                    required
                  />
                  <div class="invalid-feedback">
                    Lütfen donörün soyadını giriniz.
                  </div>
                </div>

                <!-- Birthdate Field -->
                <div class="col-sm-6 mb-3">
                  <label class="form-label" for="birthdate">Doğum Tarihi</label>
                  <input
                    class="form-control"
                    id="birthdate"
                    type="date"
                    name="birthdate"
                    required
                  />
                  <div class="invalid-feedback">
                    Lütfen geçerli bir doğum tarihi giriniz.
                  </div>
                </div>

                <!-- Blood Type Field -->
                <div class="col-sm-6">
                  <label class="form-label" for="blood-type">Kan Grubu</label>
                  <select class="form-select" id="blood-type" name="blood-type" required>
                    <option value="" selected disabled>Seçiniz...</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                  </select>
                  <div class="invalid-feedback">
                    Lütfen donörün kan grubunu seçiniz.
                  </div>
                </div>

                <div class="col-12">
                  <div class="border-bottom border-dashed my-3"></div>
                </div>
              </div>
            </div>

            <!-- HLA-Antijen Bilgileri -->
            <div class="container mt-3">
              <h5 class="text-center">HLA-Antijen Bilgileri</h5>
              <!-- HLA-A antigens -->
              <div
                class="tab-pane preview-tab-pane active"
                role="tabpanel"
                aria-labelledby="antigensA"
                id="antigensA"
              >
                <label for="antigenChoserA">HLA-A Antijenleri</label>
                <select
                  class="form-select js-choice"
                  id="antigenChoserA"
                  multiple="multiple"
                  size="1"
                  name="hla-a-antigen"
                  data-options='{"removeItemButton":true,"placeholder":true}'
                >
                  <option value="">Antijenleri seçiniz...</option>
                </select>
              </div>

              <!-- HLA-B antigens -->
              <div
                class="tab-pane preview-tab-pane"
                role="tabpanel"
                aria-labelledby="antigensB"
                id="antigensB"
              >
                <label for="antigenChoserB">HLA-B Antijenleri</label>
                <select
                  class="form-select js-choice"
                  id="antigenChoserB"
                  multiple="multiple"
                  size="1"
                  name="hla-b-antigen"
                  data-options='{"removeItemButton":true,"placeholder":true}'
                >
                  <option value="">Antijenleri seçiniz...</option>
                </select>
              </div>

              <!-- HLA-DR antigens -->
              <div
                class="tab-pane preview-tab-pane"
                role="tabpanel"
                aria-labelledby="antigensDR"
                id="antigensDR"
              >
                <label for="antigenChoserDR">HLA-DR Antijenleri</label>
                <select
                  class="form-select js-choice"
                  id="antigenChoserDR"
                  multiple="multiple"
                  size="1"
                  name="hla-dr-antigen"
                  data-options='{"removeItemButton":true,"placeholder":true}'
                >
                  <option value="">Antijenleri seçiniz...</option>
                </select>
              </div>

              <!-- HLA-DQ antigens -->
              <div
                class="tab-pane preview-tab-pane"
                role="tabpanel"
                aria-labelledby="antigensDQ"
                id="antigensDQ"
              >
                <label for="antigenChoserDQ">HLA-DQ Antijenleri</label>
                <select
                  class="form-select js-choice"
                  id="antigenChoserDQ"
                  multiple="multiple"
                  size="1"
                  name="hla-dq-antigen"
                  data-options='{"removeItemButton":true,"placeholder":true}'
                >
                  <option value="">Antijenleri seçiniz...</option>
                </select>
              </div>
            </div>

            <div class="text-center mt-4">
              <button class="btn btn-primary" type="submit">
                Kaydet
              </button>
            </div>
          </form>
          <div id="alertPlaceholder"></div>
        </div>
      </div>
      {% endblock %}

      <!-- ===============================================-->
      <!--   End of Page Content-->
      <!-- ===============================================-->

{% block scripts %}
<script src="{{ url_for('static', filename='vendors/choices/choices.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/prism/prism.js') }}"></script>
<script>
  function populateOptions(selectId, prefix, count) {
    const select = document.getElementById(selectId);
    for (let i = 1; i <= count; i++) {
      const option = document.createElement("option");
      option.value = `${prefix}${i.toString().padStart(2, "0")}`;
      option.textContent = `${prefix}${i.toString().padStart(2, "0")}`;
      select.appendChild(option);
    }
  }
  populateOptions("antigenChoserA", "A*", 99);
  populateOptions("antigenChoserB", "B*", 99);
  populateOptions("antigenChoserDR", "DRB1*", 99);
  populateOptions("antigenChoserDQ", "DQB1*", 99);

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("donorForm");

    form.addEventListener("submit", function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      } else {
        event.preventDefault();
        submitForm(); 
      }
      form.classList.add("was-validated");
    });
  });

  function submitForm() {
    const form = document.getElementById("donorForm");
    const formData = new FormData(form);

    const data = {};
    formData.forEach((value, key) => {
      if (key !== "search_terms") {
        if (!data[key]) {
          data[key] = value;
        } else {
          if (!Array.isArray(data[key])) {
            data[key] = [data[key]];
          }
          data[key].push(value);
        }
      }
    });

    fetch("/db/register-donor", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        showAlert('Donör başarıyla veritabanına eklendi!', 'success');
        form.reset();
        form.classList.remove('was-validated');
      })
      .catch((error) => {
        showAlert('Bir hata oluştu. Lütfen sayfayı yenileyip tekrar deneyiniz.', 'danger');
        console.error("Error:", error);
      });
  }

  function showAlert(message, type) {
    const alertPlaceholder = document.getElementById('alertPlaceholder');
    const alert = document.createElement('div');
    alert.className = `alert alert-${type} alert-dismissible fade show`;
    alert.role = 'alert';
    alert.innerHTML = `
      ${message}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;
    alertPlaceholder.appendChild(alert);
  }
</script>
{% endblock %}